@import "tailwindcss";

:root { color-scheme: light; }
html, body { height: 100%; }
body {
  background: #ffffff;
  color: #0a0a0a;
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a { color: inherit; }

.container { max-width: 72rem; }
